.venv/
__pycache__/
*.pyc
*.pyo
*.egg-info/

data/
run/
outputs/
demo_data/
tmp_*
tmp_*/
!src/oncoscape/data/
!src/oncoscape/data/*.py
docs/_build/
docs/_autosummary/

*.pt
*.h5ad
*.parquet
*.png
*.jpg
*.jpeg
*.zip
*.tar
*.tar.gz
*.mtx
*.mtx.gz
*.h5
*.tif
*.tiff
*.ome.tif
